In [1]:
#coded by nicole
#import dependencies
import pandas as pd

In [2]:
#reference file
file = "Data/owid-covid-data.csv"

#import data into DataFrame
who_data = pd.read_csv(file)
who_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84754,ZWE,Africa,Zimbabwe,2021-04-24,38064.0,19.0,52.143,1556.0,0.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84755,ZWE,Africa,Zimbabwe,2021-04-25,38086.0,22.0,47.857,1557.0,1.0,0.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84756,ZWE,Africa,Zimbabwe,2021-04-26,38102.0,16.0,34.714,1560.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84757,ZWE,Africa,Zimbabwe,2021-04-27,38164.0,62.0,41.286,1565.0,5.0,1.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
84758,ZWE,Africa,Zimbabwe,2021-04-28,38191.0,27.0,30.143,1565.0,0.0,1.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [3]:
#columns
who_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [8]:
death_rate = who_data.loc[:, ["location", "date", "total_deaths_per_million"]]
death_rate

          location        date  total_deaths_per_million
0      Afghanistan  2020-02-24                       NaN
1      Afghanistan  2020-02-25                       NaN
2      Afghanistan  2020-02-26                       NaN
3      Afghanistan  2020-02-27                       NaN
4      Afghanistan  2020-02-28                       NaN
...            ...         ...                       ...
84754     Zimbabwe  2021-04-24                   104.690
84755     Zimbabwe  2021-04-25                   104.757
84756     Zimbabwe  2021-04-26                   104.959
84757     Zimbabwe  2021-04-27                   105.296
84758     Zimbabwe  2021-04-28                   105.296

[84759 rows x 3 columns]

In [4]:
reduced_who_data = who_data.loc[:, ["continent", "location", "population", "date", "total_cases", "total_deaths", "new_deaths"]]
reduced_who_data

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths
0,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN
1,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN
2,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN
3,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN
4,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
84754,Africa,Zimbabwe,2021-04-24,38064.0,19.0,1556.0,0.0
84755,Africa,Zimbabwe,2021-04-25,38086.0,22.0,1557.0,1.0
84756,Africa,Zimbabwe,2021-04-26,38102.0,16.0,1560.0,3.0
84757,Africa,Zimbabwe,2021-04-27,38164.0,62.0,1565.0,5.0
84758,Africa,Zimbabwe,2021-04-28,38191.0,27.0,1565.0,0.0

In [ ]:
#Brazil
#Canada
#China
#Germany
#India
#Japan
#Mexico
#US

In [14]:
US_death = who_data.loc[who_data["location"] == "United States", :]
US_death["total_deaths_per_million"].max()

1735.152

In [15]:
Brazil_death = who_data.loc[who_data["location"] == "Brazil", :]
Brazil_death["total_deaths_per_million"].max()

1873.2879999999998

In [18]:
Canada_death = who_data.loc[who_data["location"] == "Canada", :]
Canada_death["total_deaths_per_million"].max()

638.808

In [19]:
China_death = who_data.loc[who_data["location"] == "China", :]
China_death["total_deaths_per_million"].max()

3.366

In [7]:
reduced_who_data.to_csv("Data/reduced_who_data.csv", index=False, header=True)

In [13]:
only_US = who_data.loc[who_data["location"] == "United States", :]
only_US["population"]

80353    331002647.0
80354    331002647.0
80355    331002647.0
80356    331002647.0
80357    331002647.0
            ...
80811    331002647.0
80812    331002647.0
80813    331002647.0
80814    331002647.0
80815    331002647.0
Name: population, Length: 463, dtype: float64

In [6]:
gdp_info = who_data.sort_values("gdp_per_capita", ascending = False)
gdp_info

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
62370,QAT,Asia,Qatar,2021-04-13,191979.0,981.0,959.714,340.0,5.0,4.000,...,116935.6,NaN,176.69,16.52,0.8,26.9,NaN,1.2,80.23,0.848
62212,QAT,Asia,Qatar,2020-11-06,133811.0,192.0,209.714,232.0,0.0,0.000,...,116935.6,NaN,176.69,16.52,0.8,26.9,NaN,1.2,80.23,0.848
62225,QAT,Asia,Qatar,2020-11-19,136649.0,208.0,216.714,235.0,0.0,0.143,...,116935.6,NaN,176.69,16.52,0.8,26.9,NaN,1.2,80.23,0.848
62224,QAT,Asia,Qatar,2020-11-18,136441.0,219.0,222.000,235.0,0.0,0.286,...,116935.6,NaN,176.69,16.52,0.8,26.9,NaN,1.2,80.23,0.848
62223,QAT,Asia,Qatar,2020-11-17,136222.0,194.0,222.714,235.0,0.0,0.286,...,116935.6,NaN,176.69,16.52,0.8,26.9,NaN,1.2,80.23,0.848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82222,VAT,Europe,Vatican,2021-04-24,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
82223,VAT,Europe,Vatican,2021-04-25,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
82224,VAT,Europe,Vatican,2021-04-26,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
82225,VAT,Europe,Vatican,2021-04-27,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN
82226,VAT,Europe,Vatican,2021-04-28,27.0,0.0,0.000,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.12,NaN