### Imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import linregress
%matplotlib notebook

### Covid Code

### Currency Code

### Stock Code

In [6]:
# Import data
brazil_2020_orig = pd.read_csv("Resources/Brazil_inBRL_Bovespa_2020Data.csv")

# Convert object to string
brazil_2020_orig = brazil_2020_orig.astype(str)

# Check to see the data type
brazil_2020_orig.dtypes

Date        object
Price       object
Open        object
High        object
Low         object
Vol.        object
Change %    object
dtype: object

In [ ]:
# Take out "%" and convert to float
brazil_2020_clean = brazil_2020_orig.replace("%","")

In [7]:
# Display clean data frame
brazil_2020_clean

,Date,Price,Open,High,Low,Vol.,Change %
0,"Dec 30, 2020","119,017.24","119,409.85","120,149.85","118,919.43",8.24M,-0.33%
1,"Dec 29, 2020","119,409.15","119,130.06","119,860.91","118,750.10",6.77M,0.24%
2,"Dec 28, 2020","119,123.70","117,805.56","119,212.79","117,804.95",7.17M,1.12%
3,"Dec 23, 2020","117,806.85","116,636.18","118,311.44","116,636.18",6.48M,1.00%
4,"Dec 22, 2020","116,636.18","115,824.66","116,902.54","115,648.34",6.95M,0.70%
...,...,...,...,...,...,...,...
244,"Jan 08, 2020","116,247.03","116,667.32","117,334.82","115,693.02",5.91M,-0.36%
245,"Jan 07, 2020","116,661.94","116,871.73","117,075.85","115,965.38",4.85M,-0.18%
246,"Jan 06, 2020","116,877.92","117,706.66","117,706.66","116,268.69",6.57M,-0.70%
247,"Jan 03, 2020","117,706.66","118,564.44","118,791.86","117,340.57",6.83M,-0.73%
248,"Jan 02, 2020","118,573.10","115,651.95","118,573.10","115,648.97",5.16M,2.53%

### Question 1: How do countries rate on per-capital covid deaths?

* Bar graph: per-capita deaths by country
    
* Line graph: per capita deaths over time

### Question 2:

### Question 3:

### Analysis